<div ALIGN="center">
    <h1>ロリネーター</h1>
    1:とてもそうでない　2:そうでない　3:どちらともいえない　4:そうである　5:とてもそうである
</div>
<hr>
<div id="question">
    <%= form_tag '/home/result' do |f| %>
        <% @questions.each do |question| %>
            <%= question.name %><br>
            <%= radio_button_tag "question[#{question.id}]", 1 %>1
            <%= radio_button_tag "question[#{question.id}]", 2 %>2
            <%= radio_button_tag "question[#{question.id}]", 3 %>3
            <%= radio_button_tag "question[#{question.id}]", 4 %>4
            <%= radio_button_tag "question[#{question.id}]", 5 %>5
            <br><br>
        <% end %>
        <%= submit_tag "結果確認" %>
    <% end %>
</div>
